.action-bar {
    flex-basis: 100%;
    border-bottom: var(--dr-container-border-width) solid var(--dr-container-border-color);
    padding: var(--dr-action-bar-padding-y) var(--dr-action-bar-padding-x);
    display: flex;
    flex-wrap: wrap;
    gap: var(--dr-action-bar-gap);

    ul {
        padding: 0;
        margin: 0;
        display:flex;
        gap: var(--dr-action-bar-item-gap);
    }

    input[type="checkbox"] {
        position: absolute;
        left: 0;
        width: 1px;
        height: 44px;
        line-height: 44px;
        clip: rect(1px, 1px, 1px, 1px);
        margin: 0 0 0 0%;
        padding: 0 0 0 0%;
        border: 0 !important;
        overflow: hidden;

        &:checked+.toggle-track {
            background-color:var(--dr-action-bar-toggle-track-active-background);
            border-color: var(--dr-action-bar-toggle-track-active-border-color);
            .toggle-indicator {
                transform: translateX(calc((var(--dr-action-bar-toggle-indicator-size) * 2) - (var(--dr-action-bar-toggle-indicator-size) + (var(--dr-action-bar-toggle-track-border-width) * 2))));

                .check-mark {
                    opacity: 1;
                    transition: opacity .25s ease-in-out;
                }
            }
        }
    }

    li {
        display: flex;
    }

    button,
    .action-item {
        color: var(--dr-action-bar-button-color);
        background-color: var(--dr-action-bar-item-background);
        background: none;
        border: none;
        display: flex;
        gap: var(--dr-action-bar-item-gap);
        align-items: center;
        border-radius: var(--dr-action-bar-item-border-radius);
        min-height: 44px;
        font-family: var(--dr-action-bar-item-font-family);
        font-size: var(--dr-action-bar-item-font-size);
        font-weight: var(--dr-action-bar-item-font-weight);
        line-height: 1;
        cursor: pointer;
        transition: all .225s ease;
        padding: var(--dr-action-bar-item-padding-y) var(--dr-action-bar-item-padding-x);

        &:hover {
            background-color: var(--dr-action-bar-item-hover-background);
        }

        &:focus {
            outline-offset: var(--dr-action-bar-item-outline-offset);
        }

    }

    button {
        svg {
            flex-shrink: 0;
            stroke-width: var(--dr-action-bar-button-icon-stroke-width);
            width: var(--dr-action-bar-button-icon-size);
            height: var(--dr-action-bar-button-icon-size);
        }
    }

    .action-item {
        label {
            display: flex;
            align-items: center;
            gap: var(--dr-action-bar-item-gap);
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
        }

        .toggle-track {
            background-color: var(--dr-action-bar-toggle-track-background);
            border: var(--dr-action-bar-toggle-track-border-width) solid var(--dr-action-bar-toggle-track-border-color);
            border-radius: var(--dr-action-bar-toggle-track-border-radius);
            cursor: pointer;
            display: flex;
            height: calc(var(--dr-action-bar-toggle-indicator-size) + (var(--dr-action-bar-toggle-track-border-width) * 2));
            margin-right: var(--dr-action-bar-item-gap);
            position: relative;
            width: calc(var(--dr-action-bar-toggle-indicator-size) * 2);
            transition: all 0.25s ease-in-out;
        }

        .toggle-indicator {
            align-items: center;
            background: var(--dr-action-bar-toggle-indicator-background);
            border-radius: var(--dr-action-bar-toggle-indicator-border-radius);
            bottom: var(--dr-action-bar-toggle-track-border-width);
            display: flex;
            height: var(--dr-action-bar-toggle-indicator-size);
            justify-content: center;
            left: var(--dr-action-bar-toggle-track-border-width);
            position: absolute;
            transition: all 0.25s ease-in-out;
            width: var(--dr-action-bar-toggle-indicator-size);
        }

        .check-mark {
            fill: var( --dr-action-bar-toggle-track-active-background);
            height: calc(var(--dr-action-bar-toggle-indicator-size) * .675);
            width: calc(var(--dr-action-bar-toggle-indicator-size) * .675);
            opacity: 0;
            transition: opacity 0.25s ease-in-out;
        }


    }

    .action-item {
        &:focus-within {
            outline: var(--dr-focus-outline-width) solid var(--dr-focus-outline-color);
            outline-offset: var(--dr-action-bar-item-outline-offset);
            z-index: 3;
        }

        >input:focus {
            outline-width: 0;
        }
    }
}