.data-table {
    width: 100%;
    background-color: var(--dr-table-background);
    border-radius: var(--dr-table-border-radius);
    border: var(--dr-table-border-width) solid var(--dr-table-border-color);
    font-family: var(--dr-table-font-family);
    font-size: var(--dr-table-font-size);
    font-weight: var(--dr-table-font-weight);
    line-height: var(--dr-table-line-height);
    color: var(--dr-table-ink);
    border-collapse: collapse;

    th, td {
        padding: var(--dr-table-cell-padding-y) var(--dr-table-cell-padding-x);
        text-align: left;
        border-bottom: var(--dr-table-border-width) solid var(--dr-table-border-color);
    }

    th {
        background-color: var(--dr-table-header-background);
        color: var(--dr-table-header-ink);
        font-size: var(--dr-table-header-font-size);
        font-weight: var(--dr-table-header-font-weight);
    }

    tr {
        &:nth-child(odd):not(.footer-row) {
            background-color: var(--dr-table-stripe-background);
        }
        &:last-child td {
            border-bottom: none;
        }
        &:focus {
            z-index:99;
        }
    }

    .label {
        flex-basis: 60%;
    }

    .percentage {
        flex-basis: 12%;
        font-family: var(--dr-table-numeral-font-family);
    }

    .value {
        flex-basis: 28%;
        text-align: right;
        font-family: var(--dr-table-numeral-font-family);
    }

    tfoot {
        tr {
            background-color: var(--dr-table-footer-background);
            color: var(--dr-table-footer-ink);
            font-size: var(--dr-table-footer-font-size);
            font-weight: var(--dr-table-footer-font-weight);
            strong {
                font-family: var(--dr-table-numeral-font-family); 
            }
        }
    }
}