## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
.rollup.cache/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local