/* Default variables */

:root {

    --dr-modal-background: rgba(0, 0, 0, 0.5);
    --dr-modal-z-index: 1000;
    --dr-modal-content-background: white;
    --dr-modal-content-padding-y: 1.5rem;
    --dr-modal-content-padding-x: 1.5rem;
    --dr-modal-content-border-radius: .5rem;
    --dr-modal-content-border-width: 0;
    --dr-modal-content-border-color: lightgray;
    --dr-modal-content-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    --dr-modal-content-min-width: 50%;
    --dr-modal-content-max-width: 90%;
    --dr-modal-content-max-height: 90%;
    --dr-modal-content-overflow: scroll;
    --dr-modal-content-gap: 1rem;
    --dr-modal-content-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --dr-modal-content-font-size: 1rem;
    --dr-modal-content-font-weight: 400;
    --dr-modal-content-line-height: 150%;
    --dr-modal-content-ink: #333;
    --dr-modal-heading-ink: #333;
    --dr-modal-content-heading-font-size: 2em;
    --dr-modal-content-heading-font-weight: 600;
    --dr-modal-content-heading-line-height: 125%;
    --dr-modal-content-close-button-background: none;
    --dr-modal-content-close-button-color: var(--dr-modal-content-ink);
    --dr-modal-content-close-button-hover-background: none;
    --dr-modal-content-close-button-hover-color: var(--dr-modal-content-ink);
    --dr-modal-content-close-button-gap: .325rem;
    --dr-modal-content-close-button-border-radius: .25rem;
    --dr-modal-content-close-button-padding-y: .25rem;
    --dr-modal-content-close-button-padding-x: .5rem;
    --dr-modal-content-close-button-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --dr-modal-content-close-button-font-size: 1rem;
    --dr-modal-content-close-button-font-weight: 400;
    --dr-modal-content-close-button-icon-stroke-width: 2;
    --dr-modal-content-close-button-icon-size: 1.5rem;



    --dr-table-background: white;
    --dr-table-stripe-background: #eaeaea;
    --dr-table-border-color: lightgray;
    --dr-table-border-width: 0;
    --dr-table-border-radius: 0;
    --dr-table-row-gap: .125rem;
    --dr-table-col-gap: 0;
    --dr-table-ink: #333;
    --dr-table-stripe-ink: #333;
    --dr-table-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --dr-table-numeral-font-family: var(--dr-numeral-font-family);
    --dr-table-font-size: 1rem;
    --dr-table-font-weight: 400;
    --dr-table-line-height: 150%;
    --dr-table-header-background: #222FBF;
    --dr-table-header-ink: white;
    --dr-table-header-font-size: .875rem;
    --dr-table-header-font-weight: 600;
    --dr-table-header-line-height: 150%;
    --dr-table-header-padding-y: var(--dr-table-cell-padding-y);
    --dr-table-header-padding-x: var(--dr-table-cell-padding-x);
    --dr-table-cell-padding-y: .5rem;
    --dr-table-cell-padding-x: .5rem;
    --dr-table-footer-background: #2e2e2e;
    --dr-table-footer-ink: white;
    --dr-table-footer-font-size:  var(--dr-table-font-size);
    --dr-table-footer-font-weight: var(--dr-table-font-weight);
    --dr-table-footer-line-height:var(--dr-table-line-height);
    --dr-table-footer-padding-y: var(--dr-table-cell-padding-y);
    --dr-table-footer-padding-x: var(--dr-table-cell-padding-x);


    --dr-container-max-width: 650px;
    --dr-container-margin-y: 0;
    --dr-container-margin-x: 0;
    --dr-padding-y: 1.5rem;
    --dr-padding-x: 1.5rem;
    --dr-container-gap: .5rem;
    --dr-container-background: white;
    --dr-container-ink: #333;
    --dr-container-border-color: lightgray;
    --dr-container-border-width: .125rem;
    --dr-container-border-radius: .5rem;
    --dr-action-bar-padding-y: .5rem;
    --dr-action-bar-padding-x: 1.5rem;
    --dr-action-bar-gap: 1rem;
    --dr-action-button-color: #222FBF;
    --dr-action-button-hover-background: #eaeaea;
    --dr-action-button-gap: .325rem;
    --dr-action-button-border-radius: .25rem;
    --dr-action-button-padding-y: .25rem;
    --dr-action-button-padding-x: .5rem;
    --dr-action-button-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --dr-action-button-font-size: 1rem;
    --dr-action-button-font-weight: 400;
    --dr-action-button-icon-stroke-width: 2;
    --dr-action-button-icon-size: 1.5rem;
    --dr-heading-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --dr-heading-font-size: 2em;
    --dr-heading-font-weight: 600;
    --dr-heading-line-height: 125%;
    --dr-insight-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --dr-insight-font-size: 1.25rem;
    --dr-insight-font-weight: 400;
    --dr-insight-line-height: 150%;
    --dr-series-group-padding-y: 1rem;
    --dr-series-group-padding-x: 1.5rem;
    --dr-series-group-gap: 1.5rem;
    --dr-series-item-background: #222FBF;
    --dr-series-item-gap: .5rem;
    --dr-series-item-min-width: .125rem;
    --dr-series-item-border-radius: 0;
    --dr-series-item-flex-amount: 1;
    --dr-series-item-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --dr-numeral-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --dr-series-label-font-size: 1.125rem;
    --dr-series-label-font-weight: 600;
    --dr-series-label-line-height: 150%;
    --dr-series-definition-font-size: 1rem;
    --dr-series-definition-font-weight: 400;
    --dr-series-definition-line-height: 150%;
    --dr-series-value-font-size: 1.25rem;
    --dr-series-value-font-weight: 600;
    --dr-series-value-line-height: 150%;
    --dr-series-percentage-font-size: 1rem;
    --dr-series-percentage-font-weight: 400;
    --dr-series-percentage-line-height: 150%;
    --dr-series-percentage-background: hsl(47, 86%, 90%);
    --dr-plain-language-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --dr-plain-language-font-size: 1rem;
    --dr-plain-language-font-weight: 400;
    --dr-plain-language-line-height: 150%;
    --dr-plain-language-background: hsl(47, 86%, 90%);
    --dr-plain-language-color: var(--dr-container-ink);
    --dr-plain-language-padding-y: 1rem;
    --dr-plain-language-padding-x: var(--dr-padding-x);
}
